@import "./variable";

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: auto;
  background-color: $color-light;
}

ul {
  list-style-type: none;
}

button {
  outline: none;
  background-color: $color-light;
  border: none;
  cursor: pointer;
}